<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinjam Buku</title>
    <link rel="stylesheet" href="/static/created.css">
</head>
<body>
    <div class="container">
        <h1>PINJAM BUKU</h1>
        <div class="form-container">
            <form action="/create" method="POST">
                <div class="form-group">
                    <label for="nama_buku">Nama Buku</label>
                    <input type="text" id="nama_buku" name="name" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="nama_peminjam">Nama Peminjam</label>
                    <input type="text" id="nama_peminjam" name="nama" autocomplete="off" required>
                </div>
                <div class="text-right">
                    <a href="/" class="btn btn-secondary">BACK</a>
                    <button type="submit" class="btn btn-primary">PINJAM</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
